@import "./../../../constants.scss";

.button {
  border-radius: 4px;
  border: none;
  color: $color-light;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &.busy {
    background-color: $color-light-grey;
    pointer-events: none;
  }
}

.submit__button {
  width: 18rem;
  height: 5.7rem;
  background-color: $color-primary;
  color: $color-light;
}

.reset__button {
  width: 18rem;
  height: 5.7rem;
  border: 2px solid $color-primary;
  background-color: $color-dark;
  color: $color-primary;
}

.fav__button {
  min-height: 4rem;
  background-color: rgba(98, 96, 96, 0.527);
  border-radius: 3px;
  padding: 1rem 1.5rem;
  color: $color-primary;
  font-family: $font-family;
  font-size: 1.3rem;

  &.busy {
    color: $color-dark;
    opacity: 0.7;
    pointer-events: none;
    cursor: default;
  }

  @media only screen and (max-width: 580px) {
    font-size: 1.8rem;
  }
}

.log_button {
  width: 12rem;
  height: 4rem;
  border-radius: 4px;
  border: 2px solid $color-primary;
  background-color: $color-dark-grey;
  color: $color-primary;
  font-size: 1.8rem;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute;
  max-width: 30rem;
  right: 0;
  top: 0;
  text-transform: lowercase;
  background: $color-dark;
  color: $color-light;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: 1s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  right: 10rem;
}

.search__button {
  width: 23rem;
  height: 5.6rem;
  margin-left: 1.3rem;
  background-color: $color-primary;
  color: $color-light;

  &-reset {
    justify-content: center;
    background-color: rgba(56, 56, 56, 0.527);
    background: url("./../../../assets/cross.svg");
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
}

.scroll__button {
  position: fixed;
  right: 5%;
  bottom: 4%;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  border: 2px solid $color-primary;
  background-color: $color-light-grey;
  color: $color-primary;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.4s;
  opacity: 0.5;
  cursor: pointer;

  &::before {
    content: "<";
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%) rotate(90deg);
  }

  &:hover {
    opacity: 0.7;
    border-style: solid;
    background-color: $color-dark;
  }
}
