@import "./../../constants.scss";

.movie {
  position: relative;

  &__image {
    overflow: hidden;
    width: auto;
    height: 42rem;

    img {
      width: 100%;
      height: auto;
    }

    &:hover {
      .dots {
        display: block;
        cursor: pointer;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__genre {
    margin-top: 1rem;
    font-size: 1.4rem;
    opacity: 0.5;
  }

  &__date {
    font-size: 1.4rem;
    width: 6.6rem;
    height: 2.6rem;
    opacity: 0.7;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.dots {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3.6rem;
  height: 3.6rem;
  background-color: $color-dark;
  border-radius: 50%;
  transition: 0.3s;

  &::before {
    content: '•••';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42%, -50%) rotate(90deg);
    cursor: pointer;
  }
}

.options__modal {
  position: absolute;
  top: 0.6rem;
  right: 0.7rem;
  width: 19rem;
  height: 11rem;
  background-color: $color-dark;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  cursor: default;
}

.options-close {
  align-self: flex-end;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.8;
  margin: 0.9rem 0.5rem;
  cursor: pointer;
}

.options-edit {
  opacity: 0.8;
  padding-left: 2.3rem;
  height: 3.4rem;
  padding-top: 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
  }
}

.options-delete {
  opacity: 0.8;
  padding-left: 2.3rem;
  height: 3.4rem;
  padding-top: 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
  }
}
