$color-primary: #f65261;
$color-light-grey: #555;
$color-dark-grey: #424242;
$color-dark: #232323;
$color-light: #fff;
$color-black: #000000;

$font-family: 'Montserrat', sans-serif;
$content-width: 1200px;
