@import "./../../../constants.scss";

.reset__button {
  width: 18rem;
  height: 5.7rem;
  border-radius: 4px;
  border: 2px solid $color-primary;
  background-color: $color-dark;
  color: $color-primary;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

